.circle-listitem {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: white;
  margin-top: 5px;
  /* display: inline-block; */
  line-height: 40px;
  text-align: center;
  font-size: 1.5em;
  float: left;
}
.name-listitem {
  font-size: 1.3em;
}
.place-listitem {
  font-size: 1em;
  color: grey;
}
.date-listitem {
  color: grey;
  position: relative;
}
.w3-ul {
  animation: fadein 1.5s;
}
.items {
  padding: 5px 15px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: blue; */
}
.left-elements {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 480px) {
  .name-listitem {
    font-size: 1em;
  }
  .place-listitem {
    font-size: 0.8em;
  }
  .date-listitem {
    font-size: 0.8em;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
