.tbox-login > input {
  background: none;
  border: none;
  outline: none;
  text-align: center;
  margin: auto;
  font-family: Poppins;
  width: 90%;
  line-height: 37px;
  font-size: 14px;
  color: #333;
}
.password-reset-valid{
  display: block;
  width: 260px;
  padding: 5px 0;
  color: green;
  text-align: center;
  margin: 0px auto;
  transition: 0.5s all;
}
.password-reset-notvalid{
  display: block;
  width: 260px;
  padding: 5px 0;
  color: red;
  text-align: center;
  margin: 0px auto;
  transition: 0.5s all;
}