/* .lock {
  height: 65px;
  widows: 95px;
  display: block;
  margin: auto;
  margin-bottom: 14px;
} */
/* .fa-lock {
  margin: 10px;
} */
/* .container-login {
  width: 360px;
  height: 600px;
  background-color: rgb(43, 40, 40);
  opacity: 0.8;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  box-shadow: 10px 10px 40px grey;
} */

.header-login {
  font-size: 27px;
  font-weight: 200px;
  margin-top: 70px;
  margin-bottom: 60px;
}
.header-login > p {
  margin-top: 0px;
  font-size: 14px;
}
