.header-login {
  font-size: 27px;
  font-weight: 200px;
  margin-top: 70px;
  margin-bottom: 60px;
}
.header-login > p {
  margin-top: 0px;
  font-size: 14px;
}

#email {
  background: none;
  border: none;
  outline: none;
  text-align: center;
  margin: auto;
  font-family: Poppins;
  width: 90%;
  line-height: 37px;
  font-size: 14px;
  color: #333;
}
